.banner{
    background: url("https://images.marketpath.com/7e5fcc0d-0eb7-45e2-b7d0-92a6c7303628/image/cef618f1-f58e-4ab4-a237-d8c1277c6776/apartmentbanner.jpg");
    height: 50vh;
    position: relative;
}

.banner_info{
    background-color: black;
    color: white ;
    padding-top: 25px;
    padding-left:50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
}

.bannerSearch{
    display:flex;
    flex-direction: column;
}

.bannerSearchButton{
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779 !important;
}

.banner_info > button{
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}